body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #e9ebee;
  /* background-color: #faf1eb; */
}

nav ul {
  background-color: #502f16;
  margin: 0;
  padding: 0;
  list-style-type: none;
  overflow: hidden;
}

nav li {
  float: right;
  font-size: 16px;
  color: white;
  margin: 1em;
  vertical-align: middle;
  cursor: pointer;
}

nav li:first-child {
  float: left;
}
