body {
  margin: 0;
  padding: 0;
  font-family: Raleway;
  background-color: #e9ebee;
  /* background-color: #faf1eb; */
}

h1 {
  font-family: Raleway;
  font-style: normal;
  font-variant: normal;
  font-weight: 500;
}

h3 {
  font-family: Raleway;
  font-style: normal;
  font-variant: normal;
  font-weight: 500;
}

p {
  font-family: Raleway;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
}

button {
  font-family: Raleway;
  color: white;
  background-color: #643b1b;
  padding: 5px 10px 5px 10px;
  border: none;
}

button:hover {
  background-color: #502f16;
  cursor: pointer;
}

button:active {
  background-color: #3c2310;
}

nav ul {
  background-color: #502f16;
  margin: 0;
  padding: 0;
  list-style-type: none;
  overflow: hidden;
}

nav li {
  float: right;
  font-size: 1em;
  color: #e9ebee;
  margin: 1em;
  vertical-align: middle;
  cursor: pointer;
}

nav li:first-child {
  margin: 1em 2em 1em 2em;
  float: left;
}

nav li:nth-child(2) {
  margin-right: 2em;
}

nav li a {
  color: #e9ebee;
  text-decoration: none;
}

#content {
  margin-left: 2em;
  margin-right: 2em;
}

#book-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.card {
  display: inline-block;
  padding: 1em;
  margin-right: 1em;
  margin-bottom: 1em;
  border: 1px #c5cbd3 solid;
  width: 21.5%;
  font-size: 11pt;
}

.card div {
  margin-bottom: 2px;
}

.card .title {
  font-weight: 600;
  margin-bottom: 10px;
}

.card .title a {
  color: #0366d6;
  text-decoration: none;
}

.card .title a:hover {
  text-decoration: underline;
}

.view > * {
  border-bottom: 1px #d9d9d9 solid;
}

.view-header {
  margin-bottom: 0;
  padding-bottom: 20px;
}

.view-label {
  display: inline-block;
  width: 300px;
  color: #68727d;
  margin: 0;
  padding-top: 10px;
  padding-bottom: 10px;
}

.view-button {
  float: right;
  position: relative;
  transform: translateY(35%);
  margin-left: 10px;
}

.view-input {
  font-family: Raleway;
  font-size: 1em;
  padding: 6px 8px;
  width: 500px;
  border: 1px solid #d1d5da;
  border-radius: 3px;
}

.loading {
  margin: auto;
  margin-top: 10px;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  border: 3px solid #f5f5f5;
  border-radius: 50%;
  border-top: 3px solid #555;
  width: 25px;
  height: 25px;
  -webkit-animation: spin 0.75s linear infinite;
  /* Safari */
  animation: spin 0.75s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
